body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
}

h3 {
    margin-top: 2rem;
}

.row {
    margin-bottom: 1rem;
}

.row .row {
    margin-top: 1rem;
    margin-bottom: 0;
}

@media only screen and (max-width: 850px) {
    .no-top {
        padding-top: 2rem !important;
    }
}

[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: rgba(86, 61, 124, .15); */
    border: 1px solid rgba(86, 61, 124, .2);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar,
.navbar ul {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 0;
}

a.nav-link {
    padding-right: 1rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .85rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}